<footer class="footer">
  <center>
    <div class="footer-copyright">Copyright © 2015 - 2019 by Thada Wangthammang</div>
    <div class="footer-info">
     Build status: <a href="https://app.netlify.com/sites/mildronize/deploys"><img class="footer-build-status" src="https://api.netlify.com/api/v1/badges/c4bdd413-2764-44f3-8ba2-ac8326a4971e/deploy-status" alt="Netlify Status" /></a> ,
     Powered by <a href="https://www.11ty.io">Eleventy</a>
     </div> 
     <div class="footer-build-date">Built Date: {% today %}</div>
     
    <div class="footer-user-links">
       <a class="footer-user-link" href="{{ metadata.contacts.github }}"><i class="fab fa-github"></i></a>
      <a class="footer-user-link" href="{{ metadata.contacts.twitter }}"><i class="fab fa-twitter"></i></a>
      <a class="footer-user-link" href="{{ metadata.contacts.linkedin }}"><i class="fab fa-linkedin"></i></a>
      <a class="footer-user-link" href="mailto:{{ metadata.contacts.email }}"><i class="fas fa-envelope"></i></a>
      <a class="footer-user-link" href="{{ metadata.contacts.medium }}"><i class="fab fa-medium"></i></a>
      <a class="footer-user-link" href="{{ metadata.feed_path }}"><i class="fas fa-rss"></i></a>
    </div>
  </center>
</footer>
