.footer{
    margin-top: 4rem;
    font-size: 0.9rem;

    &-user-link{
        color: #4a4a4a;
        margin: 8px;
    }

    &-user-links{
        margin: 1rem 0;
    }

    &-info{
        font-size: 0.75rem;
        margin-top:0.3rem;
    }

    &-build-date{
        margin-top: -0.25rem;
        font-size: 0.4rem;
    }

    &-build-status{
        height: 1rem;
        padding-bottom: 0.2rem;
        padding-top:0.1rem;
    }
}