.header {
  &-offset-bottom {
    margin-bottom: 100px;
  }
}

.title,
.logo, .logo a{
  font-family: $headings-font-family;
  font-weight: 600;
  font-size: $h4-font-size;
  color: #0d47a1;
}

/*!
* Bootstrap - navbar
*/

.navbar {
  z-index: 100 !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  -webkit-box-shadow: 0 2px 4px 2px hsla(0, 0, 0, 0.04);
  -moz-box-shadow: 0 2px 4px 2px hsla(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px 2px hsla(0, 0, 0, 0.04);
  padding: .2rem 1rem !important;
}

.nav-item {
    margin-bottom: 0;
}

.nav-link{
    font-size: 1.05rem;
}