// @import '_reset.scss';
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";

$var: #eee;

body {
  background-color: $var;
}

h1{
  color: blue;
}
