
// @import "font-prompt.scss";

// $font-color: #363636;

// General

// body {
//   color: $font-color;
// }

.title,
.logo, .logo a{
  font-family: $headings-font-family;
  font-weight: 600;
  font-size: $h3-font-size;
  color: #0d47a1;
}

h1, h2, h3, h4, h5, h6{
  margin-top: $headings-margin-top;
}

li {
  margin-bottom: 0.35rem;
}

img{
  max-width: 100%;
  height: auto;
}

// Code

pre,
code,
kbd,
samp {
  font-size: 0.9em;
  line-height: 1.3;
}

// Resume Page

.resume{
  &-profile{
    border-radius: 50%;
    width:160px;
  }
  &-summary{
    padding-top: 1.5rem;
  }
  &-card {
    padding: 0.25rem;
  }

  &-profile-col{
    flex: 0 0 200px;
  }
  &-title {
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 0.7rem;
  }
}

.tag-alpha{
  background-color: #ffdd57;
  color: rgba(0,0,0,0.7);
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  margin-left: 0.7rem;
  margin-top: 0.1rem;
}

// Code block from `prism-dracula.css`

code,
pre{
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }

/* Code blocks */
pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em; }

:not(pre) > code,
pre{
    background: #282a36; }

/* Inline code */
:not(pre) > code{
    padding: .1em;
    border-radius: .3em;
    white-space: normal; }