
$var: white;

body {
  background-color: $var;
}

// Resume Page
.profile{
  border-radius: 50%;
  width:160px;
}

.resume{
  &-summary{
    padding: 1.5rem 0;
  }
  &-card {
    padding: 0.25rem;
  }
  &-title {
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 0.7rem;
  }

}