.postlist{
    &-item{
        margin: 2rem 0;
    }   

    &-link{
        color: black;
        font-family: $headings-font-family;
        font-weight: 500;
        font-size: 1.3rem;
    }
    &-first-column{
        flex: 0 0 130px;
        font-size: 0.9rem;
        padding-top: 0.3rem;
    }

    .tag{
        color: #999;
        font-weight: normal;
        padding: 0.2rem;
        font-size: 0.7rem;
        // background-color: white;
    }
}