---
layout: base
title: Mildronize
---

{# <h1>Latest 3 Posts</h1> #}

<div class="page-section-header">I'm lecturer</div>


<div class="row resume-summary">
  <div class="col-6 col-md-4">
    <div style="margin: 0 auto; width: 200px" class="resume-profile">
      <img alt="my profile" class="resume-profile" src="{{ site.site_image_prefix }}/my-profile.jpg">
    </div>
  </div>
  <div class="col">
   <p>Hi, I'm Mild or Thada Wangthammang. I live in Hatyai, Songkhla, Thailand. </p>
      <p>I'm currently lecturer at <a href="https://www.uic.psu.ac.th/" target="blank">Prince of Songkla University International College (PSUIC), Digital Media Program.</a> I received M.Eng and B.Eng. in 2018 and 2015 from Department of Computer Engineering, Prince of
      Songkla University (PSU). 
      I'm enthusiastic to learn about and conduct some research
      in the areas of cloud technology and distributed and
      parallel computing, especially, in the area of web technology and game development.</p>
      <p>I also love to be healthy. <a href="https://connect.garmin.com/modern/profile/6bbc2036-215a-42b6-b8ab-179c7672fabc">Running</a> is my currently exercise. Another happiness is <a href="#photography">photography</a> </p>
 </div>

</div>

<div class="page-section-header">I'm Blogging</div>
{% set postslist = collections.posts | head(-5) %}

{% include "components/posts-list.njk" %}

<div style="margin:2rem"></div>
<center><a href="/blog/">All blog posts</a></center>
<div style="margin:1rem"></div>

{# <div class="page-section-header">I'm Photographer</div> #}