---
layout: page
title: Mildronize
---

{# <h1>Latest 3 Posts</h1> #}
<center class="hero-section">
<div class="hero-tagline">I'm Lecturer</div>
<div class="hero-title">Thada Wangthammang</div>
<p>Welcome to my personal archive. You can find almost stuff about me - blog posts, resume, projects, contact information, and more.</p>
</center>

<hr>

<div class="page-section-header">Latest Posts</div>
{% set postslist = collections.posts | head(-5) %}

{% include "components/posts-list.njk" %}

<div style="margin:2rem"></div>
<center><a href="/blog/">All blog posts</a></center>
<div style="margin:1rem"></div>

{# <div class="page-section-header">I'm Photographer</div> #}